<%
  # LOCALS disponibili per rendering del testo dell'help del campo se presente
  # nelle traduzioni in field/help_text
  # object: classe active_model che mi serve per cercare l'help text
  # field: campo per cui stampare l'help
%>
<%# locals: (object:,field:) -%>
<%
  nf = "NOT_FOUND_HTML"
  help_text = object.class.human_attribute_name("#{field}/help_text_html", default: nf)
  if help_text != nf
    help_text = help_text.html_safe
  else
    help_text = object.class.human_attribute_name("#{field}/help_text", default: "")
  end
  unless help_text.blank?
%>
  <div class="form-text"><%= help_text %></div>
<%
  end
%>

