<div>
  <div class="row align-items-center">
    <div class="col-md-8 col-xs-8">
      <h2><%= base_class.model_name.human(count: 2) %></h2>
    </div>
    <div class="col-md-4 col-xs-4 text-end">
      <%= render 'index_main_buttons' %>
    </div>
  </div>
</div>