<div class="form-group col-xs-6 col-sm-4 col-md-3">
  <%= ransack_form_builder.label(search_field.name) %>
  <%= ransack_form_builder.search_field(search_field.name, class: "form-control form-control-sm") %>
</div>