<tr>
  <% @search_instance.search_result_fields.each do |srf| %>
    <%= render_cell_field(obj, srf) %>
  <% end %>
  <td>
    <%= render partial: "search_result_buttons", locals: {obj:} %>
  </td>
</tr>