class <%= class_name %>Policy < BaseModelPolicy

  def editable_attributes = %w[<%= attributes_names.join(" ") %>]

  def permitted_attributes = %w[<%= attributes_names.join(" ") %>]

  def search_result_fields = %w[<%= attributes_names.join(" ") %>]

end